.container {
  width: 70%;
  margin: 0 auto;
}

.loginDiv {
  margin: 25% auto;
  width: 60%;
}

.signupDiv {
  margin: 5% 0 0 50%;
  width: 400px;
  position: relative;
}

.purpleAuthentication {
  border: 1px purple solid !important;
  background-color: #000000ea !important;
}

.signupGrid {
  padding-bottom: 0 !important;
}

.signupLogo {
  margin-top: 10%;
}

.whiteText {
  color: white !important;
}
